@tailwind preflight;
@tailwind utilities;

.icons {
  background-image: url('./assets/img/icons.png') !important;
  background-repeat: repeat;
}

a {
  @apply .text-grey .no-underline;
}

a:hover {
  @apply .text-blue;
}

.is-active {
  @apply .text-blue-dark .bg-grey-lightest;
}

.table-cell {
  @apply .p-3;
}

.table-row {
  @apply .border-b-2 .border-grey;
}
